/* Remove browser focus outline as it is highly cringe */
*:focus {outline:none !important}

fieldset {
    border: 0;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Text inputs */
input, textarea {
    font-family: inherit;
    font-size: inherit;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input[type=text],
input[type=password] {
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid rgba(255, 255, 255, 0.06);
    box-shadow: 0 0 2rem 4px rgba(255, 255, 255, 0.06);
    border-radius: 0.5rem;
    width: min(40%, 30rem);
    transition: .3s border-color, box-shadow;
}

input[type=text]:hover,
input[type=password]:hover,
input[type=text]:focus,
input[type=password]:focus {
    box-shadow: 0 0 2rem 4px rgba(255, 255, 255, 0.1);
    border: 1px solid #404eed;
}

textarea {
    padding: 1rem;
    margin: 0.5rem 0;
    border: 1px solid rgba(255, 255, 255, 0.06);
    resize: vertical;
    box-shadow:0 0 2rem 4px rgba(255, 255, 255, 0.06);
    border-radius: 0.5rem;
    width: min(40%, 30rem);
    height: 10rem;
    transition: .3s border-color;
}

textarea:hover, textarea:focus {
    box-shadow:0 0 2rem 4px rgba(255, 255, 255, 0.1);
    border: 1px solid #404eed;
}


@media screen and (max-width: 40rem) {
    input[type=text], textarea {
        width: 80%;
    }
}

  /* ---------------------------------------------- */
  
  /* Tickbox */
.tickbox {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    margin-bottom: 2rem;
}
.tickbox input[type=checkbox] {
    position: absolute;
    opacity: 0;
    width: 0; 
    height: 0;
}
.tickbox span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px; 
    height: 20px;
    background-color: #ddd;
    transition: .3s background-color;
}
.tickbox span:after {
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 2px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.tickbox:hover span {
    background-color: #ccc;
}
  
.tickbox input:checked ~ span {
    background-color: #404eed;
}
.tickbox input:checked ~ span:after {
    display:block;
}

  /* ---------------------------------------------- */
  
  /* Radio */
.radio {
    display: block;
    margin-bottom: 0.2rem;
    position: relative;
    padding-left: 2rem;
    padding-right: 1rem;
    cursor: pointer;
}
.radio input[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0; 
    height: 0;
}
.radio span {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.2rem; 
    height: 1.2rem;
    background-color: #ddd;
    border-radius: 50%;
    transition: .3s background-color;
}
.radio span:after {
    content: "";
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.radio:hover span {
    background-color: #ccc;
}

.radio input:checked ~ span {
    background-color: #404eed;
}
.radio input:checked ~ span:after {
    display:block;
}

/* ---------------------------------------------- */

/* Buttons */

button {
    appearance:none;
    padding:1rem;
    margin:1rem 0;
    border:none;
    background-color:#404eed;
    color:#fff;
    font-weight:600;
    border-radius:0.4rem;
    width: min(20%, 15rem);
    transition: .2s background-color, .3s box-shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media screen and (max-width: 40rem) {
    button {
        width: 50%;
    }
}

button:hover {
    background-color:#5865f2;
    box-shadow:0 0 2rem 4px rgba(255, 255, 255, 0.1);
}

button:active {
    background-color:#404eed;
    box-shadow:0 0 2rem 4px rgba(255, 255, 255, 0.1);
}
